In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import spacy
import nltk
import en_core_web_sm
import re

In [2]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Tweets.csv")

In [3]:
#Reading data
data.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [4]:
#Selecting text column as a list
content = data['selected_text'].to_list()

In [10]:
#preprocessing function
def preprocessing(text):
  sentence = str(text).lower()
  sentence = re.sub(r"\s+http\S+","",sentence)
  sentence = re.sub(r"!+","", sentence)
  sentence = re.sub(r"\.+"," ",sentence)
  sentence = re.sub(r"\s+"," ",sentence)
  sentence = re.sub(r"www\S+\s+","",sentence)
  sentence = re.sub(r"w/","",sentence)
  sentence = re.sub(r"Thx","Thank You",sentence)
  sentence = re.sub(r",\s?","",string2)
  return sentence

In [11]:
#preprocessed content
cleaned_content = list(map(preprocessing, content))

In [12]:
#checking for null values
null_index = []
for index,tweets in enumerate(cleaned_content):
  if tweets:
    pass
  else:
    print("Null value")
    null_index.append(index)

In [16]:
#attaching preprocessed data
data['preprocessed_cointent'] = cleaned_content

In [17]:
data.to_csv("/content/drive/MyDrive/Colab Notebooks/Preprocessed_Tweets.csv")
print("Saved Successfully")

Saved Successfully